################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/прокат/v16
*.vcxproj
*.filters
*.user
/прокат.sln
